# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.GDP_Tool.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\e.sarfati\Desktop\Github\GameDesignPatternTool\GDP_Tool\.idea\.idea.GDP_Tool\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
